<footer class="fixed-bottom bg-black text-white text-center py-3 rounded-top-1">
  <div class="container bg-black">
    <p class="mb-0 text-secondary">Thank you for taking the time to browse through my site.</p>
  </div>
</footer>