<div class="container-home rounded-4 border border-light mb-3">
  <div class="text-center">
    <p class="fs-2 text-light">Summary of Qualifications</p>
  </div>
  <p class="container fs-5 text-light">
    ● Thorough understanding of Software Engineering principles through coursework and projects. </br>
    ● Constant desire to learn in order to solve real world problems through Software Development. </br>
    ● Responsible, motivated, and highly competitive inclination to succeed in any environment as 
    shown through projects. </br>
  </p>
</div>

<div class="container-home rounded-4 border border-light mb-3">
  <div class="text-center">
    <p class="container fs-2 text-light">Education</p>
  </div>
  <p class="container fs-5 text-light">
    Bachelor of Science in Computer Science; GPA 3.63 May, 2024 </br>
    Washington State University, Pullman, WA </br>
    Cum Laude </br>
    President’s Honor Roll </br>
  </p>
</div>

<div class="container-home rounded-4 border border-light mb-3">
  <div class="text-center">
    <p class="fs-2 text-light">Revelant Coursework</p>
  </div>
  <p class="container fs-5 text-light">
    Systems Programming, Data Science, Database Systems, Neural Networks, Design and Analysis of
    Algorithms, Object Oriented Software Principles, Software Design and Reverse Engineering.
  </p>
</div>

<div class="container-home rounded-4 border border-light mb-3">
  <div class="text-center">
    <p class="fs-2 text-light">Skills</p>
  </div>
  <p class="container fs-5 text-light">
    C/C++, Python, JavaScript, C#, HTML, CSS, SQL, OOP, TDD, Agile, CI/CD, SDLC, critical
    thinking, attention to detail, work ethic. </br>
    Bilingual in Spanish and English. </br>
  </p>
</div>
<%# <div class="text-center mb-3 rounded">
  <%= image_tag ("/assets/FlavioAlvarez_Resume.jpg"),class:"rounded",style: 'width: 80%; height: auto;'%> 

<div class="text-center mb-5">
<td>
  <%= link_to download_resume_path, class: "btn btn-dark", type:"button" do %>
  <%# download button button %>
  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
    <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5"/>
    <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708z"/>
  </svg>
  Download CV (.pdf)
<% end %>
</td>
</div>

